html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100vh;
  background: linear-gradient(rgb(171, 219, 228), rgb(171, 219, 228), rgb(77, 68, 32),rgba(54, 45, 9, 0.781),rgb(54, 45, 9));
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0 5rem 0 5rem;
  font-family: 'Amatic SC', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: auto;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

button {
  box-sizing: border-box;
  font-size: 6rem;
  background: none;
  font-family: 'Amatic SC', cursive;
  line-height: 1;
  border-radius: 1rem;
  background: rgba(3, 243, 3, 0.541);
  box-shadow: .5rem .5rem rgba(24, 24, 23, 0.027);
}

.score {
  background: rgba(255, 255, 255, 0.301);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}

.high-score {
  font-size: 5rem;
  text-align: center;
  padding: 2rem;
  background: rgba(3, 243, 3, 0.541);;
  border-radius: 1rem;
}

.high-score-value {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.high-score-value.increasing {
  text-shadow: 3px 3px 1px white;
  border: dotted white;
}

.container1 {
  display: flex;
  justify-content: center;
  border: none;
}

.container2 {
  border: none;
}

.container3{
  border: none;
  display: block;
}

.sun {
  z-index: 1;
  position: fixed;
  top: -20rem;
  left: -20rem;
  background: yellow;
  width: 39rem;
  height: 39rem;
  border-radius: 50%;
  box-shadow: 1rem 1rem 1rem yellow;
}

.sun-eyeL {
  z-index: 1;
  position: fixed;
  top: 7rem;
  left: 3rem;
  height: 4rem;
  width: 2rem;
  border-radius: 50%;
  background: black;
  transform: rotate(-30deg);
}

.sun-eyeR {
  z-index: 1;
  position: fixed;
  top: 4rem;
  left: 8rem;
  height: 4rem;
  width: 2rem;
  border-radius: 50%;
  background: black;
  transform: rotate(-30deg);
}

.sun-smile{
  z-index: 1;
  position: fixed;
  top: 9rem;
  left: 3rem;
  height: 5rem;
  width: 12rem;
  transform: rotate(-35deg);
  border-radius: 50%;
  border-bottom: black solid;
  background: none;
}

.sun-smile.surprised {
  height: 6.5rem;
  width: 8rem;
  top: 9.5rem;
  left: 6rem;
  background: black;
}

.sun-speech {
  z-index: 1;
  position: fixed;
  height: fit-content;
  width: auto;
  border-radius: 50%;
  padding: 0 1rem 0 1rem;
  top: 4rem;
  left: 18rem;
  background: white;
  text-align: center;
  transform: rotate(-20deg);
  font-size: 3rem;
  box-shadow: .5rem 1rem 1rem rgba(0, 0, 0, 0.438);
}

.notch {
  z-index: 0;
  position: fixed;
  height: 2rem;
  width: 2rem;
  top: 1.25rem;
  left: 1.25rem;
  background: white;
  transform: rotate(20deg);
  font-size: 3rem;
}
